body {
    font-family: 'Pacifico', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/src/hotdog_bg.jpg);
    background-size: 60px;
    margin: 0;
}

.nav {
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: #6D184F;
    width: 100%;
    color: #FBAC4D;
    font-family: monospace;
}

.nav div {
    margin-top: 1rem;
    margin-right: 2rem;
    background-color: inherit;
    float: left;
    border: 2px solid #FBAC4D;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    padding: 5px 15px;
    font-size: 24px;
}

.nav div:hover {
    background-color: #FBAC4D;
    color: #6D184F;
  }

.container {
    font-size: 6rem;
    width: 750px;
    grid-row: 1;
    display: flex;
    justify-content: center;
}

.content {
    margin-top: 2rem;
    background-color: #FBAC4D;
    width: 900px;
    height: 750px;
    border-radius: 25px;
    border: 2px solid #6D184F;
    color: #6D184F;
    padding: 50px;
    display: grid;
    grid-auto-rows: min-content;
    row-gap: 2rem;
    align-items: center;
}

.description {
    font-family: monospace;
    font-size: 32px;
    font-weight: 700;
    grid-column: 1 / 3;
}

.spot {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    grid-column: 2;
    grid-row: 3;
    padding-right: 2rem;
}
.spot-pic {
    border-radius: 50%;
    /* border: 2px solid #6D184F; */
    width: 100px;
    height: 100px;
    grid-column: 3;
}

.hot-dog {
    border-radius: 50%;
    grid-row: 1;
}